

.artikelItems:hover {
    transform: scale(1.03);
    box-shadow: 4px 10px 8px #C0C0C0;
    transition: transform 0.1s linear 0s;
}

.artikelItems:not(:hover) {
    transform: scale(0.97087378640776699029126213592233);
    box-shadow:none;
    transition: transform 0.1s linear 0s;
}

.card .artikelItems {
    border-color:gray;
    border-width:5.0px;
    margin-top:30px;
    box-shadow:10px 10px 8px #C0C0C0;
}
