/* Google Font: Cabin, 400 */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

p, h2 {
   font-family:'Cabin', 'sans-serif';
}

.navbarRightIcon {
    font-size: 20px;
    color:white;
}

#arrowIcon {
    position: relative;
    bottom: 1px;
}

#navbar ul li {
    font-family: 'Cabin', sans-serif;
}

ul li a:hover {
    transition: all 500ms;
}

#navbarCart {
    color: gray;
    width:30px;
    height:auto;
    margin: 5px 10px 5px 0;
}

#navbarDrop {
    color:gray;
    width:23px;
    height:auto;
    margin: 6px 10px 5px 0;
}

#navbarCart:hover, #navbarDrop:hover {
    color:white;
    transition:all 500ms;
}



