

.navbarRightIcon {
    font-size: 20px;
    color:white;
}


#arrowIcon {
    position: relative;
    bottom: 1px;
}

#navbar ul li {
    font-family: 'Cabin', sans-serif;
}

ul li a:hover {
    transition: all 500ms;
}


