/* Google Font: Cabin, 400 */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

p, h2 {
   font-family:'Cabin', 'sans-serif';
}

.navbarRightIcon {
    font-size: 20px;
    color:white;
}

#arrowIcon {
    position: relative;
    bottom: 1px;
}

#navbar ul li {
    font-family: 'Cabin', sans-serif;
}

ul li a:hover {
    transition: all 500ms;
}

.artikelItems {
    margin-top:30px;
}



